# Ejercicio 1 - Evaluación de Agentes LLM
# Proveedor del LLM a usar
LLM_PROVIDER=groq

# API Key de Groq
GROQ_API_KEY=api_key_de_groq_here

# Modelo a utilizar
LLM_MODEL=openai/gpt-oss-120b

# Ejercicio 2 - Goal Tracker API
GOAL_TRACKER_API_URL=https://goal-tracker-api.onrender.com/api/v1/

# Credenciales de prueba (se generan/usan durante el registro y login)
TEST_USER_NAME=your_name_here
TEST_USER_EMAIL=your_email_here
TEST_USER_PASSWORD=your_password_here

# Ejercicio 3 - Chatbot Web (Botpress Docs)
CHATBOT_SITE_URL=https://botpress.com/docs/

# General
NODE_ENV=test